<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost/sgcmf</property>
    <property name="hibernate.connection.username">javaappsgcmf</property>
    <property name="hibernate.connection.password">java</property>
    <mapping resource="sgcmf/model/hibernate/Cartao.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Gol.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Falta.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Substituicao.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Jogador.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Ocorrencia.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Jogo.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Usuario.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Rodadadepenaltis.hbm.xml"/>
    <mapping resource="sgcmf/model/hibernate/Selecao.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
